<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .form-signin{
            max-width: 250px;
            margin: auto;
        }
    </style>
    <title>Login page</title>
</head>
<body class="bg-white">
<div class="container text-left mt-5" >
    <form class="form-signin" method="post" action="/static">
        <h4 class="form-signin-heading font-weight-bold">Please sign in</h4>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert">
                Invalid Email or Password!
            </div>
        </div>
        <div th:if="${logout}">
            <div class="alert alert-success" role="alert">
                You have successfully logged out.
            </div>
        </div>
        <label for="email" class="sr-only"></label>
        <input type="text" name="email" id="email" class="form-control"
               placeholder="Email address" required autofocus>
        <label for="password" class="sr-only"></label>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" >Sign in</button>
    </form>
</div>
</body>
</html>